body{
	background-color: black;
	margin:0;
}

#wrapper{
	background-color: maroon;
	position: relative;
}
#bg{
	width: 100%;
	height: 100%;
	position: absolute;
}
#gif{
	width: 100%;
	height: auto;
}
#shipD{
	width: 20%;
	height: auto;
	position: absolute;
	margin-top: 45%;
	margin-left: 40%;
}
#ship{
	position: absolute;
	width: 100%;
	height: auto;
}

/*
<div id="header">

		</div><!--End of header-->

		<div id="wrapper">
			<div id="content1">
				<img src="http://66.media.tumblr.com/a993e0d2ab75c3ba1e86727b12f91858/tumblr_od5t1rBimg1s60oo7o1_400.gif" id="travel">
			</div><!--End of content1-->
			<div id="content2">
				<div id="col1">

				</div>
				<div id="col2">
					
				</div>				
			</div><!--End of content2-->
			
		</div><!--End of wrapper-->

		<div id="footer">
			
		</div><!--End of footer-->
*/